<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/movie_form.css">
</head>

<body>
    <% if(error.length>0) { %>
        <div id="Error">
            <h1>
                <%= error %>
            </h1>
        </div>
        <% } %>
            <div id="heading">
                <header>Movie <span id="modify"><strong >HUB</strong></span></header>
                <p>Share your movie collection with your friends</p>

            </div>
            <div id="container">
                <div style="margin-left:60px">
                    <img src="/images/left.png" alt="left Advertisment">
                </div>
                <div id="form">
                    <form action="/movie_form_check?edit=false" method="POST" enctype="multipart/form-data">
                        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                        <div id="text">
                            <label for="name">Movie Name</label>
                            <input type="text" name="name" id="name" placeholder="Enter the name of movie" />
                        </div>
                        <div id="text">
                            <label for="name"> Duration</label>
                            <input type="text" name="duration" id="duration" placeholder="Movie Duration" style="margin-left:65px" />
                        </div>
                        <div id="text">
                            <label for="name">Release Year</label>
                            <input type="text" name="released" id="released" placeholder="Release Year" />
                        </div>
                        <div id="fileSelect">
                            <label for="image" style="margin-right:60px">Profile Images</label>
                            <input type="file" name="image" id="image" />
                        </div>


                        <div class="para">
                            <label for="description">
                                    Movie Plot
                                </label>
                            <br>
                            <textarea name="description" id="description" cols="60" rows="12">
                                Enter the description of the movie
                            </textarea>
                        </div>
                        <div class="para">
                            <label for="tags">
                                    Movie Tags
                                </label>
                            <br>
                            <textarea name="tags" id="tags" cols="60" rows="12">
                                Enter in this format tag1,tag2,tag3,......,tagn
                                </textarea>
                        </div>
                        <div class="para">
                            <label for="cast">Movie Cast</label>
                            <br>
                            <textarea name="cast" id="cast" cols="60" rows="12">
                                   Enter in this format;
                                   "character","role","name",;"character","role","name",
                               </textarea>
                        </div>
                        <h3 id="lastLabel" style="padding:0;margin-bottom:6px;">
                            Select Genre
                        </h3>
                        <div style="margin-left:160px;">
                            <div class="select-dropdown">
                                <select id="genre" name="genre" multiple>
                                            <option value="Comedy" style="margin-top:1px;margin-bottom:1px;">Comedy</option>
                                            <option value="Horror" style="margin-top:1px;margin-bottom:1px;">Horror</option>
                                            <option value="Action" style="margin-top:1px;margin-bottom:1px;">Action</option>
                                            <option value="Thriller" style="margin-top:1px;margin-bottom:1px;">Thriller</option>
                                            <option value="SCIFI" style="margin-top:1px;margin-bottom:1px;">SCIFI</option>
                                            <option value="Mythology" style="margin-top:1px;margin-bottom:1px;">Mythology</option>
                                            <option value="RomCom" style="margin-top:1px;margin-bottom:1px;">RomCom</option>
                                            <option value="Romance" style="margin-top:1px;margin-bottom:1px;">Romance</option>
                                            <option value="Zombie" style="margin-top:1px;margin-bottom:1px;">Zombie</option>
                                            <option value="Life situations" style="margin-top:1px;margin-bottom:1px;">Life situations</option>
                                            <option value="Horror Comedy" style="margin-top:1px;margin-bottom:1px;">Horror Comedy</option>
                                            <option value="Monster" style="margin-top:1px;margin-bottom:1px;">Monster</option>
                                            <option value="Inspirational" style="margin-top:1px;margin-bottom:1px;">Inspirational</option>
                                            <option value="Documentaries" style="margin-top:1px;margin-bottom:1px;">Documentaries</option>
                                            <option value="Crime" style="margin-top:1px;margin-bottom:1px;">Sports</option>
                                            <option value="Drama" style="margin-top:1px;margin-bottom:1px;">Drama</option>
                                            <option value="Superhero" style="margin-top:1px;margin-bottom:1px;">Superhero</option>
                                            <option value="Martial Arts" style="margin-top:1px;margin-bottom:1px;">Martial Arts</option>
                                            <option value="Action comedy" style="margin-top:1px;margin-bottom:1px;">Action comedy</option>
                                            <option value="Dark comedy" style="margin-top:1px;margin-bottom:1px;">Dark comedy</option>
                                            <option value="Super natural" style="margin-top:1px;margin-bottom:1px;">Super natural</option>
                                            <option value="fantasy" style="margin-top:1px;margin-bottom:1px;">fantasy</option>
                                            <option value="Musicals" style="margin-top:1px;margin-bottom:1px;">Musicals</option>
                                </select>
                            </div>
                        </div>

                        <button type="submit">
                                    Submit
                                </button>
                    </form>
                </div>
                <div>
                    <img src="/images/right.png" alt="left Advertisment">
                </div>
            </div>


</html>