<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <% if(error.length>0) { %>
        <div id="error">
            <h1>
                <%= error %>
            </h1>
        </div>
        <% } %>
            <div id="heading">
                <header>Movie <span id="modify"><strong>HUB</strong></span></header>
                <p>Share your movie collection with your friends</p>

            </div>
            <div id="get-data">
                <form action="/confirmChange" method="POST">
                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                    <!--the name here is specific for the csrf token and therfore should not be changed-->
                    <div class="entry">
                        <!--maa chudae leave this all ux to front end-->
                        <input type="password" name="password" id="password" placeholder="New password">
                    </div>
                    <div class="entry">
                        <!--maa chudae leave this all ux to front end-->
                        <input type="password" name="Confirm" id="Confirm" placeholder="Confirm password">
                    </div>
                    <input type="hidden" name="userId" id="userId" value="<%= userId %>">
                    <div id="btn">
                        <button type="submit">Change Password</button>
                    </div>
                </form>
            </div>
</body>

</html>