<div id="watch-header">
    <div id="row1">
        <div id="watch_title">Title of the watchlist</div>
        <div id="mobile_sort">
            <img src="/images/sort_mobile.png" alt="sort">
        </div>
        <div id="add">
            <img src="/images/add_icon.png" alt="add">
            <h3>New watchlist</h3>
        </div>
        <div id="share">
            <img src="/images/share.png" alt="add">
            <h3>Share</h3>
        </div>
    </div>
    <div id="row2">
        <div id="titles"><%= data.movieCount + data.showsCount %> Titles</div>
        <div id="sort" class="dropdown">
            <div class="drop_title">SortBy:</div>
            <select name="sort_menu" id="sort_menu" class="dropmenu" onchange="javascript:handleSelect(this)">
                <option value="/watchlist/0" text="latest">None</option>
                <option value="/watchlist/1" text="latest">Latest</option>
                <option value="/watchlist/2" text="oldest">Oldest</option>
                <option value="/watchlist/3" text="most_popular">Most Popular</option>
                <option value="/watchlist/4" text="least_popular">Least Popular</option>
            </select>
        </div>
        <div id="other" class="dropdown">
            <div class="drop_title">Watchlist:</div>
            <select name="watch_menu" id="watch_menu" class="dropmenu">
                <option value="latest">Watchlist1</option>
                <option value="oldest">Watchlist1</option>
                <option value="most_popular">Watchlist1</option>
                <option value="least_popular">Watchlist1</option>
            </select>
        </div>
    </div>
</div>
<script type="text/javascript">
    function handleSelect(elm)
    {
       window.location = elm.value;
    }
  </script>