<div id="item-container">
    <div class="item">
        <div class="item-image">
            <img src="https://imgs.search.brave.com/GTcIWfbNkZlHc8FTZT-J-r6opEZbgslK_yLbweSu-IQ/rs:fit:1200:1067:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tZ18zVnVWMUNi/dkUvVUlzYUU0ZXFW/OUkvQUFBQUFBQUFC/U1kvVGZpNmlDYnhu/dm8vczE2MDAvR29s/ZGVuX1JldHJpZXZl/cl9QdXBweS1QaWN0/dXJlLmpwZw" alt="item_image">
        </div>
        <div class="mov-info">
            <div class="mov-title">Title of the movie <strong class="rating">4.1</strong></div>
            <div class="genres">Comedy,Horro,Action</div>
            <div class="cast">Cast1,Cast2,Cast3,Cast4,Cast5......</div>
            <div class="description">This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.</div>
           <div class="mob-upvote">Votes:<strong class="val">69</strong></div>
           <div class="mob-button">Delete</div>
        </div>
        <div class="buttons">
            <div class="votes">Votes:<strong style="color:#D8B814;">69</strong></div>
            <div class="other_watch" id="other-lists">Watchlists:<strong class="val">69</strong></div>
            <div class="btn" id="up-vote">Upvote</div>
            <div class="btn" id="delete">Delete</div>
        </div>
    </div>
    <div class="item">
        <div class="item-image">
            <img src="https://imgs.search.brave.com/GTcIWfbNkZlHc8FTZT-J-r6opEZbgslK_yLbweSu-IQ/rs:fit:1200:1067:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tZ18zVnVWMUNi/dkUvVUlzYUU0ZXFW/OUkvQUFBQUFBQUFC/U1kvVGZpNmlDYnhu/dm8vczE2MDAvR29s/ZGVuX1JldHJpZXZl/cl9QdXBweS1QaWN0/dXJlLmpwZw" alt="item_image">
        </div>
        <div class="mov-info">
            <div class="mov-title">Title of the movie <strong class="rating">4.1</strong></div>
            <div class="genres">Comedy,Horro,Action</div>
            <div class="cast">Cast1,Cast2,Cast3,Cast4,Cast5......</div>
            <div class="description">This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.</div>
           <div class="mob-upvote">Votes:<strong class="val">69</strong></div>
           <div class="mob-button">Delete</div>
        </div>
        <div class="buttons">
            <div class="votes">Votes:<strong style="color:#D8B814;">69</strong></div>
            <div class="other_watch" id="other-lists">Watchlists:<strong class="val">69</strong></div>
            <div class="btn" id="up-vote">Upvote</div>
            <div class="btn" id="delete">Delete</div>
        </div>
    </div>
    <div class="item">
        <div class="item-image">
            <img src="https://imgs.search.brave.com/GTcIWfbNkZlHc8FTZT-J-r6opEZbgslK_yLbweSu-IQ/rs:fit:1200:1067:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tZ18zVnVWMUNi/dkUvVUlzYUU0ZXFW/OUkvQUFBQUFBQUFC/U1kvVGZpNmlDYnhu/dm8vczE2MDAvR29s/ZGVuX1JldHJpZXZl/cl9QdXBweS1QaWN0/dXJlLmpwZw" alt="item_image">
        </div>
        <div class="mov-info">
            <div class="mov-title">Title of the movie <strong class="rating">4.1</strong></div>
            <div class="genres">Comedy,Horro,Action</div>
            <div class="cast">Cast1,Cast2,Cast3,Cast4,Cast5......</div>
            <div class="description">This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.</div>
           <div class="mob-upvote">Votes:<strong class="val">69</strong></div>
           <div class="mob-button">Delete</div>
        </div>
        <div class="buttons">
            <div class="votes">Votes:<strong style="color:#D8B814;">69</strong></div>
            <div class="other_watch" id="other-lists">Watchlists:<strong class="val">69</strong></div>
            <div class="btn" id="up-vote">Upvote</div>
            <div class="btn" id="delete">Delete</div>
        </div>
    </div>
    <div class="item">
        <div class="item-image">
            <img src="https://imgs.search.brave.com/GTcIWfbNkZlHc8FTZT-J-r6opEZbgslK_yLbweSu-IQ/rs:fit:1200:1067:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tZ18zVnVWMUNi/dkUvVUlzYUU0ZXFW/OUkvQUFBQUFBQUFC/U1kvVGZpNmlDYnhu/dm8vczE2MDAvR29s/ZGVuX1JldHJpZXZl/cl9QdXBweS1QaWN0/dXJlLmpwZw" alt="item_image">
        </div>
        <div class="mov-info">
            <div class="mov-title">Title of the movie <strong class="rating">4.1</strong></div>
            <div class="genres">Comedy,Horro,Action</div>
            <div class="cast">Cast1,Cast2,Cast3,Cast4,Cast5......</div>
            <div class="description">This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.</div>
           <div class="mob-upvote">Votes:<strong class="val">69</strong></div>
           <div class="mob-button">Delete</div>
        </div>
        <div class="buttons">
            <div class="votes">Votes:<strong style="color:#D8B814;">69</strong></div>
            <div class="other_watch" id="other-lists">Watchlists:<strong class="val">69</strong></div>
            <div class="btn" id="up-vote">Upvote</div>
            <div class="btn" id="delete">Delete</div>
        </div>
    </div>
    <div class="item">
        <div class="item-image">
            <img src="https://imgs.search.brave.com/GTcIWfbNkZlHc8FTZT-J-r6opEZbgslK_yLbweSu-IQ/rs:fit:1200:1067:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tZ18zVnVWMUNi/dkUvVUlzYUU0ZXFW/OUkvQUFBQUFBQUFC/U1kvVGZpNmlDYnhu/dm8vczE2MDAvR29s/ZGVuX1JldHJpZXZl/cl9QdXBweS1QaWN0/dXJlLmpwZw" alt="item_image">
        </div>
        <div class="mov-info">
            <div class="mov-title">Title of the movie <strong class="rating">4.1</strong></div>
            <div class="genres">Comedy,Horro,Action</div>
            <div class="cast">Cast1,Cast2,Cast3,Cast4,Cast5......</div>
            <div class="description">This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.</div>
           <div class="mob-upvote">Votes:<strong class="val">69</strong></div>
           <div class="mob-button">Delete</div>
        </div>
        <div class="buttons">
            <div class="votes">Votes:<strong style="color:#D8B814;">69</strong></div>
            <div class="other_watch" id="other-lists">Watchlists:<strong class="val">69</strong></div>
            <div class="btn" id="up-vote">Upvote</div>
            <div class="btn" id="delete">Delete</div>
        </div>
    </div>
    <div class="item">
        <div class="item-image">
            <img src="https://imgs.search.brave.com/GTcIWfbNkZlHc8FTZT-J-r6opEZbgslK_yLbweSu-IQ/rs:fit:1200:1067:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tZ18zVnVWMUNi/dkUvVUlzYUU0ZXFW/OUkvQUFBQUFBQUFC/U1kvVGZpNmlDYnhu/dm8vczE2MDAvR29s/ZGVuX1JldHJpZXZl/cl9QdXBweS1QaWN0/dXJlLmpwZw" alt="item_image">
        </div>
        <div class="mov-info">
            <div class="mov-title">Title of the movie <strong class="rating">4.1</strong></div>
            <div class="genres">Comedy,Horro,Action</div>
            <div class="cast">Cast1,Cast2,Cast3,Cast4,Cast5......</div>
            <div class="description">This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.</div>
           <div class="mob-upvote">Votes:<strong class="val">69</strong></div>
           <div class="mob-button">Delete</div>
        </div>
        <div class="buttons">
            <div class="votes">Votes:<strong style="color:#D8B814;">69</strong></div>
            <div class="other_watch" id="other-lists">Watchlists:<strong class="val">69</strong></div>
            <div class="btn" id="up-vote">Upvote</div>
            <div class="btn" id="delete">Delete</div>
        </div>
    </div>
    <div class="item">
        <div class="item-image">
            <img src="https://imgs.search.brave.com/GTcIWfbNkZlHc8FTZT-J-r6opEZbgslK_yLbweSu-IQ/rs:fit:1200:1067:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tZ18zVnVWMUNi/dkUvVUlzYUU0ZXFW/OUkvQUFBQUFBQUFC/U1kvVGZpNmlDYnhu/dm8vczE2MDAvR29s/ZGVuX1JldHJpZXZl/cl9QdXBweS1QaWN0/dXJlLmpwZw" alt="item_image">
        </div>
        <div class="mov-info">
            <div class="mov-title">Title of the movie <strong class="rating">4.1</strong></div>
            <div class="genres">Comedy,Horro,Action</div>
            <div class="cast">Cast1,Cast2,Cast3,Cast4,Cast5......</div>
            <div class="description">This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.</div>
           <div class="mob-upvote">Votes:<strong class="val">69</strong></div>
           <div class="mob-button">Delete</div>
        </div>
        <div class="buttons">
            <div class="votes">Votes:<strong style="color:#D8B814;">69</strong></div>
            <div class="other_watch" id="other-lists">Watchlists:<strong class="val">69</strong></div>
            <div class="btn" id="up-vote">Upvote</div>
            <div class="btn" id="delete">Delete</div>
        </div>
    </div>
    <div class="item">
        <div class="item-image">
            <img src="https://imgs.search.brave.com/GTcIWfbNkZlHc8FTZT-J-r6opEZbgslK_yLbweSu-IQ/rs:fit:1200:1067:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tZ18zVnVWMUNi/dkUvVUlzYUU0ZXFW/OUkvQUFBQUFBQUFC/U1kvVGZpNmlDYnhu/dm8vczE2MDAvR29s/ZGVuX1JldHJpZXZl/cl9QdXBweS1QaWN0/dXJlLmpwZw" alt="item_image">
        </div>
        <div class="mov-info">
            <div class="mov-title">Title of the movie <strong class="rating">4.1</strong></div>
            <div class="genres">Comedy,Horro,Action</div>
            <div class="cast">Cast1,Cast2,Cast3,Cast4,Cast5......</div>
            <div class="description">This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.</div>
           <div class="mob-upvote">Votes:<strong class="val">69</strong></div>
           <div class="mob-button">Delete</div>
        </div>
        <div class="buttons">
            <div class="votes">Votes:<strong style="color:#D8B814;">69</strong></div>
            <div class="other_watch" id="other-lists">Watchlists:<strong class="val">69</strong></div>
            <div class="btn" id="up-vote">Upvote</div>
            <div class="btn" id="delete">Delete</div>
        </div>
    </div>
    <div class="item">
        <div class="item-image">
            <img src="https://imgs.search.brave.com/GTcIWfbNkZlHc8FTZT-J-r6opEZbgslK_yLbweSu-IQ/rs:fit:1200:1067:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tZ18zVnVWMUNi/dkUvVUlzYUU0ZXFW/OUkvQUFBQUFBQUFC/U1kvVGZpNmlDYnhu/dm8vczE2MDAvR29s/ZGVuX1JldHJpZXZl/cl9QdXBweS1QaWN0/dXJlLmpwZw" alt="item_image">
        </div>
        <div class="mov-info">
            <div class="mov-title">Title of the movie <strong class="rating">4.1</strong></div>
            <div class="genres">Comedy,Horro,Action</div>
            <div class="cast">Cast1,Cast2,Cast3,Cast4,Cast5......</div>
            <div class="description">This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.</div>
           <div class="mob-upvote">Votes:<strong class="val">69</strong></div>
           <div class="mob-button">Delete</div>
        </div>
        <div class="buttons">
            <div class="votes">Votes:<strong style="color:#D8B814;">69</strong></div>
            <div class="other_watch" id="other-lists">Watchlists:<strong class="val">69</strong></div>
            <div class="btn" id="up-vote">Upvote</div>
            <div class="btn" id="delete">Delete</div>
        </div>
    </div>
    <div class="item">
        <div class="item-image">
            <img src="https://imgs.search.brave.com/GTcIWfbNkZlHc8FTZT-J-r6opEZbgslK_yLbweSu-IQ/rs:fit:1200:1067:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tZ18zVnVWMUNi/dkUvVUlzYUU0ZXFW/OUkvQUFBQUFBQUFC/U1kvVGZpNmlDYnhu/dm8vczE2MDAvR29s/ZGVuX1JldHJpZXZl/cl9QdXBweS1QaWN0/dXJlLmpwZw" alt="item_image">
        </div>
        <div class="mov-info">
            <div class="mov-title">Title of the movie <strong class="rating">4.1</strong></div>
            <div class="genres">Comedy,Horro,Action</div>
            <div class="cast">Cast1,Cast2,Cast3,Cast4,Cast5......</div>
            <div class="description">This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.</div>
           <div class="mob-upvote">Votes:<strong class="val">69</strong></div>
           <div class="mob-button">Delete</div>
        </div>
        <div class="buttons">
            <div class="votes">Votes:<strong style="color:#D8B814;">69</strong></div>
            <div class="other_watch" id="other-lists">Watchlists:<strong class="val">69</strong></div>
            <div class="btn" id="up-vote">Upvote</div>
            <div class="btn" id="delete">Delete</div>
        </div>
    </div>
    <div class="item">
        <div class="item-image">
            <img src="https://imgs.search.brave.com/GTcIWfbNkZlHc8FTZT-J-r6opEZbgslK_yLbweSu-IQ/rs:fit:1200:1067:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tZ18zVnVWMUNi/dkUvVUlzYUU0ZXFW/OUkvQUFBQUFBQUFC/U1kvVGZpNmlDYnhu/dm8vczE2MDAvR29s/ZGVuX1JldHJpZXZl/cl9QdXBweS1QaWN0/dXJlLmpwZw" alt="item_image">
        </div>
        <div class="mov-info">
            <div class="mov-title">Title of the movie <strong class="rating">4.1</strong></div>
            <div class="genres">Comedy,Horro,Action</div>
            <div class="cast">Cast1,Cast2,Cast3,Cast4,Cast5......</div>
            <div class="description">This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.</div>
           <div class="mob-upvote">Votes:<strong class="val">69</strong></div>
           <div class="mob-button">Delete</div>
        </div>
        <div class="buttons">
            <div class="votes">Votes:<strong style="color:#D8B814;">69</strong></div>
            <div class="other_watch" id="other-lists">Watchlists:<strong class="val">69</strong></div>
            <div class="btn" id="up-vote">Upvote</div>
            <div class="btn" id="delete">Delete</div>
        </div>
    </div>
    <div class="item">
        <div class="item-image">
            <img src="https://imgs.search.brave.com/GTcIWfbNkZlHc8FTZT-J-r6opEZbgslK_yLbweSu-IQ/rs:fit:1200:1067:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tZ18zVnVWMUNi/dkUvVUlzYUU0ZXFW/OUkvQUFBQUFBQUFC/U1kvVGZpNmlDYnhu/dm8vczE2MDAvR29s/ZGVuX1JldHJpZXZl/cl9QdXBweS1QaWN0/dXJlLmpwZw" alt="item_image">
        </div>
        <div class="mov-info">
            <div class="mov-title">Title of the movie <strong class="rating">4.1</strong></div>
            <div class="genres">Comedy,Horro,Action</div>
            <div class="cast">Cast1,Cast2,Cast3,Cast4,Cast5......</div>
            <div class="description">This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.</div>
           <div class="mob-upvote">Votes:<strong class="val">69</strong></div>
           <div class="mob-button">Delete</div>
        </div>
        <div class="buttons">
            <div class="votes">Votes:<strong style="color:#D8B814;">69</strong></div>
            <div class="other_watch" id="other-lists">Watchlists:<strong class="val">69</strong></div>
            <div class="btn" id="up-vote">Upvote</div>
            <div class="btn" id="delete">Delete</div>
        </div>
    </div>
    <div class="item">
        <div class="item-image">
            <img src="https://imgs.search.brave.com/GTcIWfbNkZlHc8FTZT-J-r6opEZbgslK_yLbweSu-IQ/rs:fit:1200:1067:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tZ18zVnVWMUNi/dkUvVUlzYUU0ZXFW/OUkvQUFBQUFBQUFC/U1kvVGZpNmlDYnhu/dm8vczE2MDAvR29s/ZGVuX1JldHJpZXZl/cl9QdXBweS1QaWN0/dXJlLmpwZw" alt="item_image">
        </div>
        <div class="mov-info">
            <div class="mov-title">Title of the movie <strong class="rating">4.1</strong></div>
            <div class="genres">Comedy,Horro,Action</div>
            <div class="cast">Cast1,Cast2,Cast3,Cast4,Cast5......</div>
            <div class="description">This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.This will contain a small description of the movie.</div>
           <div class="mob-upvote">Votes:<strong class="val">69</strong></div>
           <div class="mob-button">Delete</div>
        </div>
        <div class="buttons">
            <div class="votes">Votes:<strong style="color:#D8B814;">69</strong></div>
            <div class="other_watch" id="other-lists">Watchlists:<strong class="val">69</strong></div>
            <div class="btn" id="up-vote">Upvote</div>
            <div class="btn" id="delete">Delete</div>
        </div>
    </div>
</div>