
  
  
    <div id="container-foot">
        <div id="col1-foot">
            <div id="h2">Get all the latest updates</div>
            <form action="/subscribe" method="POST">
                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                <input type="email" id="mail" name="mail" placeholder="your email">
            </form>
            <h3>Movie hub</h3>
            <h4>
               A cheap(just like you) copy of IMDb app with all the features
               with limited data
            </h4>
        </div>
    <div id="col2-foot">
        <h5 class="col2-h2"> <a href="/about" style="text-decoration: none;color:white">
            About</a>
            </h5>
        <h5 class="col2-h2"> <a href="/terms" style="text-decoration: none;color:white">Terms and condition</a>
            </h5>
        <h5 class="col2-h2"> <a href="/user-policy" style="text-decoration: none;color:white">User Policy</a>
            </h5>
        <h5 class="col2-h2"> <a href="/cache" style="text-decoration: none;color:white"> Cache Policy</a>
           </h5>
    </div>
    <div id="col3-foot">
        <h1>Contact us</h1>
        <h3>7895724996</h3>
        <h5>Socials!</h5>
        <div id="flex-container">
            <a href="#"><img src="/images/icons8-facebook-30.svg" alt="facebook"></a>
            <a href="#"><img src="/images/icons8-instagram (1).svg" alt="instagram"></a>
            <a href="#"><img src="/images/icons8-gmail-30.png" alt="gmail"></a>
            <a href="#"><img src="/images/icons8-twitter-30.svg" alt="twitter"></a>
        </div>
    </div>
    <div id="col4-foot">
        <img src="/images/footer_img.png" alt="naksha">
        <h3>@2020 all rights reserved. Puttanpal and co.</h3>
    </div>
</div>
    
