
<div id="nav-container">
    <div id="large">
    <img src="/images/home_logo.png" alt="logo" id="home-log">
  <div id="search">
    <form action="#" method="POST">
        <input type="text" name="search-box" id="search-box" placeholder="Search..">
     </form>   
     <button type="submit" id="search-button">
        Search
    </button>  
</div> 
<div id="watchlist">
    <img src="/images/watchlist-large.png" alt="watchlist">
    <h3>Watchlist</h3>
</div>
<div id="user">
    <img src="/images/nav-user.png" alt="user">
    <h3>User</h3>
</div>
</div>
    <div id="mobile">
        <div id="header">
            <img src="/images/home_logo_mobile.png" alt="home-log">
            <div id="search">
                <form action="#" method="POST">
                    <input type="text" name="search-box" id="search-box" placeholder="Search..">
                </form>   
              
            </div> 
        </div>
        <div id="links">
            <a href="#" class="jump_links" id="link1">Watchlist</a>
            <a href="#" class="jump_links" id="link2">User</a>
            <a href="#" class="jump_links" id="link3">Trending</a>
        </div>
    </div>
   
    </div>