<div id="men-header">
    <h3 id="options"> <span class="active">Movies</span>  <span class="passive">Shows</span>  </h3>
  <ul id="list">
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>
    <li class="options">Some option</li>

  </ul>
</div>