<div id="car">
    <div id="suggestions">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://imgs.search.brave.com/Nqn8zcIkIDvD16Pb_044UOVdBFPSBOf-yG7uK9Ktmc4/rs:fit:316:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5E/SDhNMklsQXFvcF9s/V1hWTVpBQjRRSGFM/SCZwaWQ9QXBp" class="d-block w-100 car-img" alt="...">
               
              </div>
              <div class="carousel-item">
                <img src="https://imgs.search.brave.com/oFUMGJw45q6LzHM9ZJEruW5AlkVoa6EwhofdfpTT_mY/rs:fit:1200:1000:1/g:ce/aHR0cHM6Ly8yLmJw/LmJsb2dzcG90LmNv/bS8tdV9zSjVPNUZh/Y1EvVWs2Tkl3WVdT/REkvQUFBQUFBQUFZ/Mm8vYnlnVDNybHpR/R1kvczE2MDAvTG9j/a2hlZWQrTWFydGlu/K0YtMjIrUmFwdG9y/K1dhbGxwYXBlcnMr/KDEpLmpwZw" class="d-block w-100 car-img" alt="...">
                
              </div>
              <div class="carousel-item">
                <img src="https://imgs.search.brave.com/q3OLTjmdwQNGkRHWhPCmXYLj5Ycs0K5SVVBGDVZYG-k/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/d2FsbHBhcGVydXAu/Y29tL3VwbG9hZHMv/d2FsbHBhcGVycy8y/MDE0LzAyLzA1LzI0/ODE5OS9mNjRmN2Y3/ZTJmMzc4ZGRiYzJi/ZTkzZTA0ZDg1MWE1/OS5qcGc" class="d-block w-100 car-img" alt="...">
               
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div>