<div id="genre-container">
    <div id="genres">
       <% category.forEach(catg=>{ %>
        <div class="genre"><%= catg %></div>
        <% }) %>
    </div>
    <div id="buttons">
        <div class="button">+Watchlist</div>
        <div class="button">Upvote</div>
        <div class="button">More like this</div>
    </div>
</div>