<div id="genre-container">
    <div id="genres">
       <% category.forEach(catg=>{ %>
        <div class="genre"><%= catg %></div>
        <% }) %>
    </div>
    <div id="buttons">
        <div class="button">
            <a style="text-decoration: none;color:inherit" href="#">+Watchlist</a>
        </div>
        <div class="button">
            <a style="text-decoration: none;color:inherit" href="/upvote/<%= title %>/<%= type %>">Upvote</a>
        </div>
        <div class="button">
            <a style="text-decoration: none;color:inherit" href="#">More like this</a>
        </div>
    </div>
</div>