<div id="img-contain">
    <h2 class="header">Images</h2>
    <div id="img-container">
       <% images.forEach(image=>{  %>
        <div class="image">
            <a href="<%= image %>" style="text-decoration: none;color:white">
                <img src="<%= image %>" alt="image">
            </a>
        </div>
        
        <% }) %>
    </div>
</div>