<div id="cast-container">
    <h2 id="cast-header">Cast</h2>
    <div id="ep-items">
      <% casts.forEach(cast=>{ %>
        <div class="ep-item">
            <img src="<%= cast.image %>" alt="<%= cast.character_name %>">
            <h3 class="name"><%= cast.actor_name  %></h3>
            <h3 class="character"><%= cast.character_name %></h3>
           </div>
        <% }) %>
        
    </div>
</div>