<div id="rev-container">
    <div id="rate">
        <h2>Rate</h2>
        <form action="#" method="POST">
            <div class="star-widget">
                <input type="radio" name="rate" id="rate-5" style="display:none" value="5">
                <label for="rate-5" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-4" style="display:none" value="4">
                <label for="rate-4" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-3" style="display:none" value="3">
                <label for="rate-3" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-2" style="display:none" value="2">
                <label for="rate-2" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-1" style="display:none" value="1">
                <label for="rate-1" class="fas fa-star"></label>
            </div>
            <textarea name="content" id="content" cols="80" rows="12" style="font-size:18px;">Write your review</textarea>
            <button type="Submit" id="btn">
                  Submit
              </button>
        </form>
    </div>
    <div id="reviews">
        <h2>Reviews</h2>
        <div id="revs">
            <div class="review">
                <h3>Username <span class="user-rate">4.1</span></h3>
                <p>This will contain the content of the review</p>
            </div>
            <div class="review">
                <h3>Username <span class="user-rate">4.1</span></h3>
                <p>This will contain the content of the review</p>
            </div>
            <div class="review">
                <h3>Username <span class="user-rate">4.1</span></h3>
                <p>This will contain the content of the review</p>
            </div>
            <div class="review">
                <h3>Username <span class="user-rate">4.1</span></h3>
                <p>This will contain the content of the review</p>
            </div>
            <div class="review">
                <h3>Username <span class="user-rate">4.1</span></h3>
                <p>This will contain the content of the review</p>
            </div>
            <div class="review">
                <h3>Username <span class="user-rate">4.1</span></h3>
                <p>This will contain the content of the review</p>
            </div>
            <div class="review">
                <h3>Username <span class="user-rate">4.1</span></h3>
                <p>This will contain the content of the review</p>
            </div>
            <div class="review">
                <h3>Username <span class="user-rate">4.1</span></h3>
                <p>This will contain the content of the review</p>
            </div>

            <h4 id="all">See all reviews..</h4>
        </div>
    </div>
</div>