<div id="user-container">
   <div id="desk">
    <div class="row">
        <div class="col" id="col11">
            <h2>User</h2>
            <img src="/images/user/user-large.png" alt="user" class="image">
        </div>
        <div class="col" id="col12">
            <h2>Watchlist</h2>
            <img src="/images/user/watchlist-large.png" alt="user" class="image">
        </div>
    </div>
    <div class="row">
        <div class="col" id="col21">
           <h2>Recommendations</h2>
           <img src="/images/user/genre-large.png" alt="user" class="image">
        </div>
        <div class="col" id="col22">
            <h2>Logout</h2>
            <img src="/images/user/logout-large.png" alt="user" class="image">
        </div>
    </div>
   </div>
   <div id="user-mobile">
    <div class="user-item">
        <img src="/images/user/user-small.png" alt="user">
        <h3>User</h3>
    </div>
    <div class="user-item">
        <img src="/images/user/watchlist-small.png" alt="watchlist">
        <h3>Watchlist</h3>
    </div>
    <div class="user-item">
        <img src="/images/user/genre-large.png" alt="genres">
        <h3>Recomendation</h3>
    </div>
    <div class="user-item">
        <img src="/images/user/logout-small.png" alt="logout">
        <h3>Logout</h3>
    </div>
   </div>
</div>