<div id="fam-container">
    <h2 id="fam-header">Family</h2>
  <% family.forEach(fam=>{ %>
    <div class="fam-item"> 
        <h3 class="fam-label"><%= fam.key %>:</h3>
        <% fam.val.forEach(item=>{ %>
            <h3 class="fam-val"><%= item %></h3>
            <% }) %>
       </div>
    <% }) %>
</div>