<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/public/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general/error.css">
    <title>Error</title>
</head>
<body>
   <div id="container">
    <div>
      <img src="/images/wallpaper.png" alt="error" id="image">
    </div>
     <div id="text">
      <div class="message">Seems there is an error on our side!!</div>
      <br>
     <div class="message">We are trying to resolve this as soon as possible</div>
     br
     <div class="message">Thanks for understanding,we hope to serve you better in future!!</div>
     </div>
   </div>
</body>
</html>