<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/public/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general/error.css">
    <title><%= code %></title>
</head>
<body>
   <div id="container">
    <img src="/images/wallpaper.png" alt="error">
     <h3 class="message">Seems there is an error on our side!!</h3>
     <h3 class="message">We are trying to resolve this as soon as possible</h3>
     <h3 class="message">Thanks for understanding,we hope to serve you better in future!!</h3>
   </div>
</body>
</html>