<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/css/home/home.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general/Search-menu.css">
    <link rel="stylesheet" href="/css/general/navigation.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/general/footer.css">
    <title>Search-menu</title>
</head>
<body>
    <%- include('include/general/navigation.ejs')%>
    <%- include('include/general/search-menu-item.ejs')%>
    <%- include('include/general/footer.ejs')%>
</body>
</html>