<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/public/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/home.css">
    <link rel="stylesheet" href="/css/general/navigation.css">
    <link rel="stylesheet" href="/css/general/trending.css">
    <link rel="stylesheet" href="/css/watchlist/watch_items.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('include/general/navigation.ejs')%>
    <h2 style="color:white;font-size:28px;font-weight:500;margin-left:4vw;">Trending</h2>
    <%- include('include/search/trend-items.ejs')%>
</body>
</html>